*~
*.o
*.la
*.so
*.service
*-dbus.[ch]
*.lo
*.swo
*.swp
Makefile
Makefile.in
.libs
.deps
missing
aclocal.m4
INSTALL
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4
stamp-h1
